[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/dodsonmg/libmodbus.git
	branch = modcap
[submodule "libmacaroons"]
	path = libmacaroons
	url = https://github.com/dodsonmg/libmacaroons.git
	branch = modcap
